<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=us-cdbr-azure-west-c.cloudapp.net;Database=Test4023MySqlDB;Uid=bc4485360440df;Pwd=cc0b41d5" name="Test4023MySqlDB" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>

